<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/index#intro">Detrás de Atlántico Yoga</a></li>
            <li><a href="{{ site.baseurl }}/masque">Es mucho más...</a></li>
            <li><a href="{{ site.baseurl }}/index#service">Clases</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contacto</a></li>
            <!--  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
            <li><a href="{{ site.url }}/">EN</a></li>
            <li>
              <a href="https://www.instagram.com/atlanticoyoga/?hl=en"> <i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/atlantico.yoga"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
